// font color
$white-color: #fff;
$grey-color: #999;
$black-color: #333;
$button-color: #95e1d3;
$form-border: #e7e7e7;
$form-color: #ccc;
$footer-link-color: #f38181;
/////////////////////
// Fonts
$kaushan: 'Kaushan Script', cursive;
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;
