.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}

/* header */
.navigation {
  float: right;
  padding-top: 43px;
}
.navigation-item {
  float: left;
  color: #0f0101;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.28px;
}
.navigation-item:not(:last-child) {
  margin-right: 30px;
}
.navigation-item:hover {
  color: #1abc9c;
  font-weight: 700;
  letter-spacing: -0.28px;
  cursor: pointer;
}
.site-logo {
  margin-top: 32px;
  float: left;
}
/* SLIDER */

.slider {
  background-image: url(../img/slider_background.png);
  /* max-width: 1600px; */
  min-height: 600px;
  margin: 0 auto;
  margin-top: 32px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: #000002;
  opacity: 0.52; */
  background-color: rgba(0, 0, 2, 0.52);
}
.slider-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50% );
  line-height: 600px;
  /* vertical-align: middle; */
}
.slider-left {
  position: absolute;
  width: 104px;
  height: 104px;
  background-color: rgba(78, 198, 171, 0.65);
  /* opacity: 0.65; */
  /* top: 255px; */
  /* left: 240px; */
  left: 10%;
  top: 43%;
  border: none;
  outline: none;
}
.slider-right {
  position: absolute;
  width: 104px;
  height: 104px;
  background-color: rgba(78, 198, 171, 0.65);
  /* top: 255px; */
  /* right: 240px; */
  right:10%;
  top: 43%;
  border: none;
  outline: none;
}
.slider-left:hover{
  background-color: rgb(26, 188, 156);
  cursor: pointer;
}
.slider-right:hover{
  background-color: rgb(26, 188, 156);
  cursor: pointer;
}

/* new collection */
.new-collection {
  background-color: #e9f0fd;
  /* width: 1600px; */
  /* max-width: 1110px; */
  min-height: 676px;
  margin: 0 auto;
  position: relative;
}

.section-header {
  color: #515151;
  font-family: "Roboto";
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-top: 100px;
}
.section-header::after {
  content: "";
  display: block;
  margin: 32px auto;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
}
.card-list {
  /* position: absolute;
  top: 255px;
  left: 255px;  */
  max-width: 1110px;
  margin: 0 auto;
  display: block;
}

.card{
  width: 255px;
  float: left;
  cursor: pointer;
  position: relative;
}
.card:not(:last-child) {
  margin-right: 30px;
}
.card-image {
  height: auto;
  max-width: 100%;
}
.card-sub {
  position: absolute;
  width: 255px;
  height: 40px;
  line-height: 40px;
  background-color: #323232;
  left: 0;
  bottom: 0;
}
.card-name {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle;
  padding-left: 14px;
}
.card-price {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 54px;
  height: 40px;
  background-color: #8c8c8c;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  color:white;
  vertical-align: middle;
  padding-left: 12px;
}
.card:hover .card-sub {
    background-color: #1abc9c;
  }
.card:hover .card-price {
    background: #7fd9c8;
  }

.card:hover .sub-menu{
    display: block;

}
/* FOOTER */
.footer{
    /* width: 1600px; */
    height: 88px;
    background-color: #323232;
    margin: 0 auto;
    position: relative;
}
.footer-text{
    color: #ffffff;
    font-family: "Open Sans" sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.footer-link{
    color: #46bfa9;
    text-decoration: none;
}
.footer-div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* sub-menu */

.sub-menu{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 282px;
    border: 10px solid #ffffff;
    background-color:rgba(0, 0, 0, 0.55);
    display: none;

}
.button{
    background-color:rgba(0, 0, 0, 0.1);
    border: 1px solid #ffffff;
}
.button:hover{
    border: 1px solid #1abc9c;
    background-color:#1abc9c;
    /* opacity: 1; */
}
.heart{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 89px;
    left: 40px;
}
.arrow{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 89px;
    left: 98px;
}
.clock{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 89px;
    left: 156px;
}
.cart{
    width: 166px;
    height: 50px;
    position: absolute;
    top: 146px;
    left: 40px;
    background-color: #323232;

    color: rgb(255, 255, 255);
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.cart img{
    position: absolute;
    left: 15px;
    top: 10px;
}
.cart span{
    position: absolute;
    top: 15px;
    right: 18px;
}