* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* outline: 1px solid red; */
  font-size: 0;
}
body {
  font-family: "Playfair Display", serif;
  color: #626262;
  font-weight: 400;
}
ul,
a {
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  font-size: 14px;
}
a:hover {
  color: #03a9f4;
}
.subtitle {
  color: #b4ad9e;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}
h2 {
  font-size: 30px;
  margin-bottom: 34px;
}
.container-text {
  font-size: 14px;
  line-height: 24px;
}
.container-item {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 132px;
}
.container-item:last-child {
  margin-bottom: 0;
}
/* Лэндинг */
nav {
  display: block;
  padding-top: 77px;
  padding-bottom: 77px;
}
ul {
  display: block;
  width: 584px;
  margin-left: auto;
  margin-right: auto;
}
li {
  display: inline-block;
}
.lifestyle {
  margin-left: auto;
  margin-right: 121px;
}
.photodiary {
  margin-right: 103px;
}
.music {
  margin-right: 95px;
}
.container-item-left,
.container-item-right {
  display: inline-block;
  width: 420px;
  vertical-align: top;
}
.container-item-left {
  margin-right: 60px;
}
img {
  margin-bottom: 32px;
}
.subtitle {
  margin-bottom: 28px;
}
.button {
  display: block;
  font-size: 20px;
  text-align: center;
  padding-top: 54px;
  padding-bottom: 70px;
}
button {
  box-sizing: content-box;
  display: inline-block;
  font-size: 20px;
  padding-left: 34px;
  padding-right: 34px;
  border: 1px solid #626262;
  background-color: transparent;
  height: 60px;
  vertical-align: middle;
}
